body {
	background-color: gray;
	padding-top: 70px;
	padding-bottom: 70px;
}

.container {
	width: 1000 px;
}
.row {
	margin: 10px;
}
#header {
	background-color: #A9A9A9;
	height: 75px;
}
#charSelect {
	background-color: #EFEFEF;
	height: 100px;
}
#bench {
	background-color: #ff999a;
	height: 100px;
}
#defenderZone {
	background-color: #FF3B3F;
	height: 100px;
}
#attackInfoZone {
	background-color: #EFEFEF;
	height: 35px;
}
#playerZone {
	background-color: #CAEBF2;
	height: 100px;
}
#footer {
	background-color: #A9A9A9;
	height: 100px;
}
.col-md-2 {
	background-color: #EFEFEF;
	height: 100px;
}
.characterCard {
	width: 63px;
	height: 63px;
	border: 2px solid black;
	margin: 10px;
	position: relative;
	float: left;
}